extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been 
                p t is a long established fact that a reader will be distracted by the readable content of a page 
                |when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal 
                |distribution of letters, as opposed to using 
                |'Content here, content here', making it look like readable English. Many desktop publishing packages 
                |and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
                |will uncover many web sites still in their infancy.
                p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration 
                |in some form, by injected humour, 
                |or randomised words which don't look even slightly believable.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.md-4 SEGURIDAD
                    p aliquam facubus indumentaria para un buen y divertido plan de viaje hacia lo desconocido , derechos y reservaciones comuniquese a khervi. ya saben lo demas
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.md-4 MEJORES DESTINOS
                    p aliquam facubus indumentaria para un buen y divertido plan de viaje hacia lo desconocido , derechos y reservaciones comuniquese a khervi. ya saben lo demas
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.md-4 MEJOR PRECIO
                    p aliquam facubus indumentaria para un buen y divertido plan de viaje hacia lo desconocido , derechos y reservaciones comuniquese a khervi. ya saben lo demas





