extends ../layout/index
block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 SOBRE Nosotros
        .row.mb-5
            .col-md-6
                p  Nullam dapibus khervi a velit lacinia, eu cursus massa cursus. Morbi lobortis fermentum urna, quis tincidunt justo varius vitae. In justo nisl, auctor vel eros sed, tempus efficitur lacus. Maecenas volutpat pharetra dolor, nec rutrum ipsum dapibus id. Mauris ultricies augue lectus, efficitur tincidunt enim euismod non. Praesent nisl elit, eleifend et eleifend eu, venenatis et felis. Donec eleifend mi in congue semper.
                p  Segundo saul dui a velit lacinia, eu cursus massa cursus. Morbi lobortis fermentum urna, quis tincidunt justo varius vitae. In justo nisl, auctor vel eros sed, tempus efficitur lacus. Maecenas volutpat pharetra dolor, nec rutrum ipsum dapibus id. Mauris ultricies augue lectus, efficitur tincidunt enim euismod non. Praesent nisl elit, eleifend et eleifend eu, venenatis et felis. Donec eleifend mi in congue semper.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", class="img-fluid")
        
        h2.text-center.mb-5 Proximos Viajes
        include ../layout/partials/viajes
        
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de descuento
                        p.titulo Viaje a canada
                        p.fecha 8 de Abril 2020 - 26 de Abril 2020
                        p.precio $2500
    .container
        h2.text-center.my-5 Testimoniales
        include ../layout/partials/testimoniales
